
body{
    padding: 0;
    margin: 0;

}
#walking {

    top:  0px;
    left:  0px;
    border-style: solid;
    border-width: 3px;
    border-color: white;

}
#group {
    position: absolute;
    top:  585px;
    left: 631px;
    border-style: solid;
    border-width: 3px;
    border-color: white;

}

#info1{
    position: absolute;
    width: 631px;
    height: 585px;
    top: 0px;
    left: 631px;
    background-color: #002266;
    z-index: -1;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

#info2{
    position: absolute;
    width: 631px;
    height: 585px;
    top: 585px;
    left: 0px;
    background-color: black;
    z-index: -1;
    border-style: solid;
    border-width: 3px;
    border-color: white;

}