
body{
	background-color: #606060;

}

#events{


}

#calendar{
        position: absolute;
    	top: 120px;
    	left: 250px;
    	z-index: -2;
    	border-style: solid;
    	border-color: black;
    	border-width: 3px;


}