

body{
    background-color: #505050;

}




#source1{
        width: 631px;
        height: 585px;
        top: 0px;
        left: 0px;
        background-color: black;

}

#source2{
        width: 631px;
        height: 585px;
        top: 0px;
        left: 631px;
        background-color: black;
}

#source3{
        width: 631px;
        height: 585px;
        top: 585px;
        left: 0px;
        background-color: black;
}


#source4{
        width: 631px;
        height: 585px;
        top: 585px;
        left: 631px;
        background-color: black; 
}