

body{
    background-color: #505050;

}




#source1{
        position: absolute;
        width: 631px;
        height: 585px;
        top: 0px;
        left: 0px;
        background-color: #FFD700;
        z-index: -1;

}

#source2{
        position: absolute;
        width: 631px;
        height: 585px;
        top: 0px;
        left: 631px;
        background-color: black;
        z-index: -1;
}

#source3{
        position: absolute;
        width: 631px;
        height: 585px;
        top: 585px;
        left: 0px;
        background-color: #FFD700;
        z-index: -1;
}


#source4{
        position: absolute;
        width: 631px;
        height: 585px;
        top: 585px;
        left: 631px;
        background-color: black;
        z-index: -1;
}