body {

        background-repeat: no-repeat;
        background-size: cover;




}

@font-face{
    font-family: Alien;
    src: url(alien.ttf);


}
#welcome{
        position: absolute;
        top: 183px;
        left: 120px;

}

#welcome p{

        font-family: Alien;
        font-size: 100px;
        left: 125px;
}
 #logo{
    position: relative;
    top: 250px;
    left: 65px;
    z-index: -1;
    opacity: 0.6;


 }
 #quote{
        position: relative;
        top: 185px;
        left: 460px;
 }
 #quote p{
    font-family: Alien;
    font-size: 35px;

 }

 #insta{
        position: relative;
        top: 333px;
        left: 1145px;

 }

 #flickr{
        position: relative;
         top: 295px;
         left: 1200px;


 }



