

@font-face{
    font-family: Fragment;
    src: url(fragment.otf);



#officers{
    font-family: Fragment;
    font-size: 15px;

}

#Weeber{

       position: relative;
       top: 100px;
       left 100px;
       z-index: 10;
       border-style: solid;
       border-color: black;
       border-width: 3px; 

}

#Modh{




}


#Nguyen{


}

#Ash{
}

#HoodaK{
}

#HoodaA{
}

#Momin{
}

#Ajani{
}

#Ravi{
}

#Chappidi{
}




