
body {

        background-repeat: no-repeat;
        background-size: cover;

}

@font-face{
    font-family: Fragment;
    src: url(fragment.otf);
)

#Carlos{
    position: absolute;
    top: 300px;
    left:300px;
    border-style: solid;
    border-color: black;
    border-width: 3px;

}

