
body {


        background-color: #336699;

}

p{
        font-family: Courier New, sans-serif;
        font-size: 15px;
        font-weight: 900;

}
img{
        border-style: solid;
        border-color: black;
        border-width: 6px;



}


#officer1{
        position: absolute;
        padding-top: 150px;
        padding-left: 100px;
        z-index: -1;


}
#officer2{
        position: absolute;
        padding-top: 150px;
        padding-left: 500px;
        z-index: -1;


}

#officer3{
        position: absolute;
        padding-top: 150px;
        padding-left: 900px;
        z-index: -1;

}

#officer4{
         position: absolute;
         padding-top: 550px;
         padding-left: 100px;
         z-index: -1;

 }

#officer5{
        position: absolute;
        padding-top: 550px;
        padding-left: 500px;
        z-index: -1;

}

#officer6{
        position: absolute;
        padding-top: 550px;
        padding-left: 900px;
        z-index: -1;

}

#officer7{
        position: absolute;
        padding-top: 950px;
        padding-left: 100px;
        z-index: -1;

}

#officer8{
        position: absolute;
        padding-top: 950px;
        padding-left: 500px;
        z-index: -1;

}

#officer9{
        position: absolute;
        padding-top: 950px;
        padding-left: 900px;
        z-index: -1;

}

#officer10{
        position: absolute;
        padding-top: 1350px;
        padding-left: 100px;
        z-index: -1;

}